/* Every text/background pair needs a contrast value of 7 https://webaim.org/resources/contrastchecker/ */
/* Leave comment near pairs with scores */

/* Color Scheme: 
Dusty Lavender: #995D81
Coral Glow: #EB8258
Canary Yellow: #F6F740
Pale Amber: #D8DC6A
Air Force Blue: #6689A1
*/
header{
    background-color: white;
}

header a{
    float: right;
    font-size: 40px;
    margin-right: 75px;
    text-decoration: none;
    color: #995D81;
    margin-top: 16px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

hr{
    height: 5px;
    background-color: #6689A1;
    margin: 0;
    width: 100%;
}

body{
    background-color: #F6F740;
    margin: 0;
}

body main{
    margin: 20px;
}

table{
    background-color: #F6F740;
}

table td:first-child, tr:first-child {
  background-color: #995D81;
}

.grid{
    color: white;
    border: 10px solid #6689A1;
}