/* Every text/background pair needs a contrast value of 7 https://webaim.org/resources/contrastchecker/ */
/* Leave comment near pairs with scores */

/* Color Scheme: 
Dusty Lavender: #995D81
Coral Glow: #EB8258
Canary Yellow: #F6F740
Pale Amber: #D8DC6A
Air Force Blue: #6689A1
*/

header{
    background-color: white;
}

header a{
    float: right;
    font-size: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: #995D81;
    margin-top: 16px;
}

hr{
    height: 5px;
    background-color: #6689A1;
    margin: 0;
    width: 100%;
}

body{
    background-color: #F6F740;
    margin: 0;
}

main{
    display: grid;
    place-items: center;
}

p{
    font-size: 24px;
    color: white;
}

.square-outer {
            height: 50vh;
            width: 120vh;
            background-color: white;
            bottom: 0;
            position: fixed;
            }
            .square-middle-out {
            background-color: #EB8258;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 98%;
            }
            .square-middle-in {
            background-color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 90%;
            }

            .oval-outer {
            height: 500px;
            width: 120vh;
            background-color: white;
            position: fixed;
            border-radius: 50%;
            bottom: 18%;
            }
            .oval-middle-out {
            height: 95%;
            width: 98%;
            background-color: #EB8258;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
            .oval-middle-in {
            height: 95%;
            width: 98%;
            background-color: white;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            }