/* Every text/background pair needs a contrast value of 7 https://webaim.org/resources/contrastchecker/ */
/* Leave comment near pairs with scores */

/* Color Scheme: 
Dusty Lavender: #995D81
Coral Glow: #EB8258
Canary Yellow: #F6F740
Pale Amber: #D8DC6A
Air Force Blue: #6689A1
*/

html, body{
    height: 100%;
    margin: 0;
}
header{
    background-color: white;
}

header a{
    float: right;
    font-size: 40px;
    margin-right: 75px;
    text-decoration: none;
    color: #995D81;
    margin-top: 16px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
}

hr{
    height: 8px;
    background-color: #6689A1;
    margin: 0;
    width: 100%;
}

body{
    background-color: #F6F740;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding-bottom: 0;
}

p{
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    color: white;
    margin: 0;
}

.image_container {
    position: relative;
    width: 100%;
    max-width: 1600px;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.orange-arch,
.purple-arch {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
}

.orange-arch {
    width: 60%;
    height: auto;
    z-index: 1;
}

.purple-arch {
    width: 50%;
    height: auto;
    z-index: 2;
}

.content-wrapper {
    position: absolute;
    bottom: 5%;
    width: 40%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 3;
}

.home-logo {
    width: 45%;
    height: auto;
    margin-bottom: 5%;
}

.content-wrapper .text {
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 5%;
    word-wrap: break-word;
    width: 90%;
}

.content-wrapper button {
    background-color: #EB8258;
    padding: 1.2vh 3vw;
    border-radius: 75px;
    border: white solid 5px;
}

.content-wrapper button a {
    font-size: 2.2vh;
    font-family: "Raleway", sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
